<mat-card>
    <mat-card-title>Voeg een huis toe:</mat-card-title>
    <mat-card-content>

        <form [formGroup]="locatie">
            <h3>Locatie: </h3>
            <mat-form-field>
                <input matInput type="text" aria-label="gemeente"
                    placeholder="Gemeente" formControlName="gemeente">
                <mat-error
                    *ngIf="locatie.get('gemeente')['errors'] &&
                    locatie.get('gemeente').touched">
                    {{ getErrorMessage(locatie.get('gemeente')['errors']) }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" aria-label="straatnaam"
                    placeholder="Straatnaam" formControlName="straatnaam">
                <mat-error
                    *ngIf="locatie.get('straatnaam')['errors'] &&
                    locatie.get('straatnaam').touched">
                    {{ getErrorMessage(locatie.get('straatnaam')['errors']) }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" aria-label="huisnummer"
                    placeholder="Huisnummer" formControlName="huisnummer">
                <mat-error
                    *ngIf="locatie.get('huisnummer')['errors'] &&
                    locatie.get('huisnummer').touched">
                    {{ getErrorMessage(locatie.get('huisnummer')['errors']) }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" aria-label="postcode"
                    placeholder="Postcode" formControlName="postcode">
                <mat-error
                    *ngIf="locatie.get('postcode')['errors'] &&
                    locatie.get('postcode').touched">
                    {{ getErrorMessage(locatie.get('postcode')['errors']) }}
                </mat-error>
            </mat-form-field>

        </form>

        <form [formGroup]="detail">
            <h3>Detail:</h3>
            <mat-form-field>
                <input matInput type="number" aria-label="bewoonbareOppervlakte"
                    placeholder="Bew. oppervlakte" formControlName="bewoonbareOppervlakte">
                <mat-error
                    *ngIf="detail.get('bewoonbareOppervlakte')['errors'] &&
                    detail.get('bewoonbareOppervlakte').touched">
                    {{ getErrorMessage(detail.get('bewoonbareOppervlakte')['errors']) }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" aria-label="totaleOppervlakte"
                    placeholder="Tot. oppervlakte" formControlName="totaleOppervlakte">
                <mat-error
                    *ngIf="detail.get('totaleOppervlakte')['errors'] &&
                    detail.get('totaleOppervlakte').touched">
                    {{ getErrorMessage(detail.get('totaleOppervlakte')['errors']) }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" aria-label="epcWaarde" placeholder="EPC Waarde" formControlName="epcWaarde">
                <mat-error
                    *ngIf="detail.get('epcWaarde')['errors'] &&
                    detail.get('epcWaarde').touched">
                    {{ getErrorMessage(detail.get('epcWaarde')['errors']) }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" aria-label="kadastraalInkomen"
                    placeholder="Kadastraal inkomen" formControlName="kadastraalInkomen">
                <mat-error
                    *ngIf="detail.get('kadastraalInkomen')['errors'] &&
                    detail.get('kadastraalInkomen').touched">
                    {{ getErrorMessage(detail.get('kadastraalInkomen')['errors']) }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput class="bigText" type="text"
                    aria-label="langeBeschrijving" placeholder="Lange
                    beschrijving" formControlName="langeBeschrijving"></textarea>
                <mat-error
                    *ngIf="detail.get('langeBeschrijving')['errors'] &&
                    detail.get('langeBeschrijving').touched">
                    {{ getErrorMessage(detail.get('langeBeschrijving')['errors']) }}
                </mat-error>
            </mat-form-field>
        </form>
        <form [formGroup]="huis" (ngSubmit)='onSubmit()'>
            <div>
                <h3>Korte beschrijving</h3>
                <mat-form-field>
                    <textarea matInput class="bigText" type="text"
                        aria-label="korteBeschrijving" placeholder="Korte
                        beschrijving" formControlName="korteBeschrijving">
                    </textarea>
                <mat-error
                    *ngIf="huis.get('korteBeschrijving')['errors'] &&
                    huis.get('korteBeschrijving').touched">
                    {{ getErrorMessage(huis.get('korteBeschrijving')['errors']) }}
                </mat-error>
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>

            <div>
                <h3>Price:</h3>
                <mat-form-field>
                    <input matInput type="number" aria-label="price"
                        placeholder="Prijs" formControlName="price">
                    <mat-error
                        *ngIf="huis.get('price')['errors'] &&
                        huis.get('price').touched">
                        {{ getErrorMessage(huis.get('price')['errors']) }}
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>

            <div>
                <h3>Kopen of huren?</h3>
                <mat-form-field>
                <mat-select placeholder="Selecteer type" aria-label="type"
                    formControlName="type" required>
                    <mat-option *ngFor="let type of types" [value]="type">{{
                        type }}
                    </mat-option>                        
                </mat-select>
                <mat-error
                    *ngIf="huis.get('type')['errors'] &&
                    huis.get('type').touched">
                    {{ getErrorMessage(huis.get('type')['errors']) }}
                </mat-error>
            </mat-form-field>
                
            </div>
            <mat-divider></mat-divider>
            <div>
                <h3>Soort</h3>
                <mat-form-field>
                <mat-select placeholder="Selecteer soort" aria-label="soort"
                    formControlName="soort" required>
                    <mat-option *ngFor="let soort of soorten" [value]="soort">{{
                        soort }}</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="huis.get('soort')['errors'] &&
                    huis.get('soort').touched">
                    {{ getErrorMessage(huis.get('soort')['errors']) }}
                </mat-error>
            </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <div>
                <h3>Immo bureau:</h3>
                <mat-form-field>
                <mat-select placeholder="Selecteer immobureau" aria-label="name"
                    formControlName="immoBureau" required>
                    <mat-option *ngFor="let bureau of bureaus$ | async"
                        [value]="bureau">
                        {{ bureau.naam }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="huis.get('immoBureau')['errors'] &&
                    huis.get('immoBureau').touched">
                    {{ getErrorMessage(huis.get('immoBureau')['errors']) }}
                </mat-error>
            </mat-form-field>                
            </div>
            <br>
            <button mat-raised-button color="primary" data-cy="submit" type="submit"
                [disabled]='!huis.valid'>
                <strong>+</strong>
            </button>
        </form>
    </mat-card-content>
</mat-card>
