<mat-card style="padding-left: 15px;">
  <h1 mat-header style="text-transform: uppercase; margin-bottom: -15px;">{{huis.soort}}</h1>
  <h2 mat-header>Te {{ huis.type }}</h2>
  <mat-card-content>
    <div>    
      <h3 mat-header style="text-decoration: underline;">Locatie</h3>
      <app-locatie [locatie]="huis.locatie" [fullLocatie]="true">
        {{huis.locatie}}
      </app-locatie>
      <h3 mat-header style="text-decoration: underline;">Details</h3>
      <app-detail [detail]="huis.detail" [fullDetails]="true">
        {{huis.detail}}
      </app-detail>
    </div>
    <br>
    <h3 mat-header style="text-decoration: underline;">Immobureau</h3>
    <app-immo-bureau [immoBureau]="huis.immoBureau">
      {{huis.immoBureau.naam}}
    </app-immo-bureau>
    <h3 mat-header style="text-decoration: underline;">Prijs</h3>
    <b>{{ huis.price | currency:"EUR"}}</b>
    <br />

    <mat-card-footer>
      <button mat-fab color="primary" [routerLink]="['../../list']">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <button *ngIf="checkLogin()" mat-fab color="warn" (click)="deleteHuis()"
        [routerLink]="['../../list']">
        <mat-icon>delete</mat-icon>
      </button>    
    </mat-card-footer>
  </mat-card-content>
</mat-card>