<mat-card>
    <mat-card-header>
      <mat-card-title>{{ huis.soort }}</mat-card-title>
      <mat-card-subtitle>TE {{ huis.type }}</mat-card-subtitle>        
    </mat-card-header>
    <mat-card-content>
        <app-locatie [locatie]="huis.locatie">
          {{huis.locatie.gemeente}}
        </app-locatie>      
      <h3 mat-subheader>Prijs</h3>
      <b>{{ huis.price }}</b>
      <br />    
      <h3 mat-subheader>Korte Beschrijving</h3>
      {{ huis.korteBeschrijving }}
    </mat-card-content>
    <!-- <button mat-fab color="primary" (click)="deleteHuis()">
      <mat-icon>delete</mat-icon>
    </button> -->
  </mat-card>
  