<div>    
        <!-- <mat-card>
            <mat-card-content> -->
                <div>
                    Totale oppervlakte: {{detail.totaleOppervlakte}} m<sup>2</sup>
                </div>
                <div *ngIf="fullDetails">
                    Lange beschrijving: {{detail.langeBeschrijving}}<br>
                    Bewoonbare oppverlakte: {{detail.bewoonbareOppervlakte}} <br>
                    Epcwaarde: {{detail.epcWaarde}} <br>
                    Kadastraal inkomen: {{detail.kadastraalInkomen}} <br>
                </div>
            <!-- </mat-card-content>
        </mat-card> -->
</div>
