/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';    

.mat-card-header{
    text-transform: uppercase;
}

.error {
    background-color: #feebeb;
    color: #c61e24;
    width: 100%;
  }