<body>
    <div fxLayout="row" fxLayoutAlign="center center" class="about">
        <mat-card class="card">
                <h1 mat-header>Over ons</h1>
            <mat-card-content>
                <h2 mat-header>Fictimmo</h2>
                <p>Fictimmo is de immowebsite bij uitstek voor wie op zoek is naar fictieve huizen, appartementen en/of gronden.</p>
                <p>Indien u op interesse heeft in 1 van de stukken vastgoed die op deze site zichtbaar zijn, twijfel dan niet om de immobureaus in kwestie te contacteren. <br>Zij zullen u gerust verderhelpen. Fictimmo staat enkel in als tussenpersoon en heeft geen affiliteit met de kantoren op de site vermeld.</p>

                <h2 mat-header>Waarom Fictimmo?</h2>
                <p>Fictimmo werd opgericht in het kader van de eindevaluatie Webapplicaties 4 voor de opleiding toegepaste informatica op HoGent.
                    <br>Deze website staat volledig in het teken van de niet-periode gebonden evaluatie en het doel van de schrijver ervan, Kilian Hoefman, is dus om met deze website te kunnen slagen voor bovengenoemd opleidingsonderdeel.
                </p>

                <h2 mat-header>Dankwoord</h2>
                <p>Graag had ik van de gelegenheid gebruik gemaakt om volgende mensen te bedanken in niet specifieke volgorde:</p>
                    <ul>
                        <li><b>Pieter Van Der Helst :</b><i>Voor de slides, de cursus & de recipeApp</i> </li>
                        <li><b>Stefaan De Cock :</b><i>Voor het doceren van deze cursus & de vele feedback</i></li>
                        <li><b>Ziggy Moens: </b><i>Voor het bugfixen van wederzijdse problemen</i></li>
                        <li><b>Karine Samyn: </b><i>Voor het ter beschikking stellen van de .NET RESTAPI backend</i></li>
                        <li><b>...</b></li>
                    </ul>
            </mat-card-content>


            

        </mat-card>
    </div>
</body>            <footer>
                <p><i>Alle huizen op deze website zijn louter fictief en behoren dus niet tot een effectief aanbod. Indien u op zoek bent naar een nieuwe woonst, contacteer dan andere websites.</i></p>
            <footer>