mat-card{
    height: 400px;
}

.mat-card-title{
    margin-left: -0.5em;
}

.mat-card-subtitle{
    margin-left: -.8em;
}

.center{
    display: inline-block;
    margin: 0 auto;
}

.button{
    width: 100%;
}