<mat-card>
  <mat-card-header>
    <mat-card-title>{{ huis.soort }}</mat-card-title>
    <mat-card-subtitle>TE {{ huis.type }}</mat-card-subtitle>        
  </mat-card-header>
  <mat-card-content>
      <app-locatie [locatie]="huis.locatie">
        {{huis.locatie}}
      </app-locatie>      
      <app-detail [detail]="huis.detail">
        {{huis.detail}}
      </app-detail>
      <app-immo-bureau [immoBureau]="huis.immoBureau">
        {{huis.immoBureau.naam}}
      </app-immo-bureau>
    <h3 mat-header>Prijs</h3>
    <b>{{ huis.price | currency:"EUR"}}</b>
    <br />    
    <p>
      {{ huis.korteBeschrijving }}
    </p>
  </mat-card-content> 


    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button
      class="button"
        mat-raised-button
        type="submit"
        color="primary"
        data-cy="return-button"
        [routerLink]="['../detail/', huis.id]" style="padding: 5px;"
      >
      Details
      </button>
    </mat-card-actions>
</mat-card>

