<mat-card>
  <mat-card-header>
    <mat-card-title>{{ huis.soort }}</mat-card-title>
    <mat-card-subtitle>TE {{ huis.type }}</mat-card-subtitle>        
  </mat-card-header>
  <mat-card-content>
      <app-locatie [locatie]="huis.locatie">
        {{huis.locatie}}
      </app-locatie>      
      <app-detail [detail]="huis.detail">
        {{huis.detail}}
      </app-detail>
      <app-immo-bureau [immoBureau]="huis.immoBureau">
        {{huis.immoBureau.naam}}
      </app-immo-bureau>
    <h3 mat-header>Prijs</h3>
    <b>{{ huis.price }}</b>
    <br />    
    <p>
      {{ huis.korteBeschrijving }}
    </p>
  </mat-card-content> 
  <mat-card-footer>
    <div class="button" layout="row" layout-align="center center">
    <button mat-icon-button fxLayout="row" fxLayoutAlign="space-between center" color="primary" [routerLink]="['../detail/', huis.id]">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
    </mat-card-footer>
</mat-card>

